<md-dialog aria-label="Export Playlist Dialog">
  <md-dialog-content>
    <div class="md-dialog-content">
      <h2>Export Playlist</h2>
      <!-- <md-checkbox ng-model="$ctrl.settings.copyFiles">
        Copy Files
      </md-checkbox>
      <md-checkbox ng-model="$ctrl.settings.createM3u">
        Create M3U
      </md-checkbox> -->
      <div>
        <md-checkbox ng-model="$ctrl.settings.includeAlbum">
          Include Full Albums
        </md-checkbox>
        <div style="font-style: italic;">
          <div ng-if="$ctrl.settings.includeAlbum">
            A subfolder will be created for each album.
          </div>
          <div ng-if="!$ctrl.settings.includeAlbum">
            A subfolder will be created for the playlist.
          </div>
        </div>
      </div>
      <div>
        <md-checkbox ng-model="$ctrl.settings.rewriteAlbumArtwork">
          Re-write album artwork
        </md-checkbox>
        <div style="font-style: italic;">
          Album artwork will be re-written 
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary md-raised"
               ng-click="$ctrl.commit()">Export</md-button>
    <md-button class="md-raised"
               ng-click="$ctrl.cancel()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>
