<div class="plexporter-view">
  <div ng-if="$ctrl.isOperationInProgress()">
    <md-progress-linear ng-if="$ctrl.currentOperationPercentage == null"
                        md-mode="indeterminate">
    </md-progress-linear>
    <md-progress-linear ng-if="$ctrl.currentOperationPercentage != null"
                        md-mode="determinate"
                        value="{{$ctrl.currentOperationPercentage}}">
    </md-progress-linear>
    {{$ctrl.currentOperationName}}
  </div>
  <md-tabs class="plexporter-view-tabs"
           md-selected="$ctrl.selectedTab">
    <md-tab label="Playlists"
            md-on-select="$ctrl.fetchPlaylists()">
      <md-list ng-if="$ctrl.playlists.length">
        <md-list-item class="plexporter-view-list-item"
                      ng-repeat="playlist in $ctrl.playlists"
                      ng-click="$ctrl.exportFiles(playlist)">
          <img ng-src="{{playlist.getThumbnailUrl()}}"
               ng-if="playlist.getThumbnailUrl()">
          <span class="plexporter-view-list-item-label">
            {{playlist.getSpecification().title}}
          </span>
        </md-list-item>
      </md-list>
    </md-tab>
    <md-tab label="Settings">
      <md-input-container>
        <label>Plex Server Address</label>
        <input type="text" ng-model="$ctrl.applicationSettings.plexServerAddress">
      </md-input-container>
      <md-input-container>
        <label>Plex Token</label>
        <input type="text" ng-model="$ctrl.applicationSettings.plexToken">
      </md-input-container>
      <md-list>
        <md-list-item
            ng-repeat="localPath in $ctrl.applicationSettings.localMediaPaths">
          {{localPath}}
        </md-list-item>
      </md-list>
      <div>
        <md-button ng-click="$ctrl.addLocalPath()">
          Add Local Path
        </md-button>
        <md-button ng-click="$ctrl.applicationSettings.localMediaPaths = []">
          Clear Local Paths
        </md-button>
      </div>
      <div>
        Node version: {{$ctrl.process.version}}
        <br>Electron version: {{$ctrl.process.versions.electron}}
        <br>Chrome version: {{$ctrl.process.versions.chrome}}
      <div>
        <md-button ng-click="$ctrl.saveApplicationSettings()">
          Save
        </md-button>
      </div>
    </md-tab>
  </md-tabs>
</div>
