plexporter-view {
  display: block;
}

.plexporter-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.plexporter-view-tabs {
  flex: 1;
}

.plexporter-view-list-item {
  margin: 4px;
}

.plexporter-view-list-item-label {
  margin: 4px;
}
